.git
.gitignore
.env
**/target
**/node_modules
**/__pycache__
**/*.py[cod]
modules/arena-hub/data
lib/arena-bots/player_1/node_modules
lib/arena-bots/nodejs_bytadaniel/node_modules
lib/arena-bots/rust_bytadaniel/token.txt
lib/arena-bots/rust_bytadaniel/manual_control*.json
*.log
